<div class="container my-3">
  <div class="row d-flex justify-content-between">
    <div class="col-12 col-md-3">
      <div class="center mb-3">
        <%= image_tag avatar_url(@user), class: "avatar-large card-img-top"%>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading mb-2">Verification</div>
        <div class="panel-body">
          <ul class="sidebar-list">
            <% if @user.confirmation_token %>
          <li>Email Address: <span class="float-right icon-babu"><i class="far fa-check-circle"></i></span> </li><hr >
          <% end %>
          <% if @user.provider %>
          <li>Facebook<span class="float-right icon-babu"><i class="far fa-check-circle"></i></span> </li><hr >
          <% end %>

          <li>Phone Number<span class="float-right icon-babu"><i class="far fa-check-circle"></i></span> </li><hr >
        </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <h2><%= @user.name %></h2>
      <div class="description row-space-3">
        <p><%= @user.description %></p>
      </div>
      <h4>Listing: (<%= @rooms.length %>)</h4><br>
      <div class="row">
        <%= render partial: "rooms/rooms_list", locals: {rooms: @arrRooms} %>
      </div>
      <hr >
      <div class="row">
        <div class="col-md-12">
          <h4>Reviews From Guests (<%= @guest_reviews.count %>)</h4>
        </div>
        <div class="container">
          <%= render 'reviews/guest_list' %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h4>Reviews From Hosts (<%= @host_reviews.count %>)</h4>
        </div>
        <div class="container">
          <%= render 'reviews/host_list' %>
        </div>
      </div>
    </div>
  </div>
</div>
