<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 4;">
  <%= link_to "Air Rooms", root_path, class: 'navbar-brand'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <%= form_tag search_path, method: :get do %>
          <div class="form-group <%= 'is-hidden' if current_page?(root_path)%>">
            <%= text_field_tag :search, params[:search], placeholder: "Where are you going?", class: 'form-control'%>
          </div>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav mr-1">
      <li>
          <%= link_to "Become a host", new_room_path, class: "nav-item btn  btn-babu mr-3" %>
      </li>
      <% if user_signed_in?%>
      <%= image_tag avatar_url(current_user), class: "avatar"%>
      <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%if current_user.name.nil? %>
          <%= current_user.email%>
          <%else%>
          <%= current_user.name%>
          <%end%>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Dashoard", dashboard_path, class: "dropdown-item" %>
          <%= link_to "Manage Your Listing", rooms_path, class: "dropdown-item" %>
          <%= link_to "List Your Place", new_room_path, class: "dropdown-item" %>
          <%= link_to "Your Reservation", your_reservations_path, class: "dropdown-item"%>
          <%= link_to "Your Trips", your_trips_path, class: "dropdown-item"%>
          <hr>
          <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>

    <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-secondary" %>

          <%= link_to "Log In", new_user_session_path, class: "btn btn-link" %>
      <% end %>
    </ul>
  </div>
</nav>

<% if (user_signed_in?) && !current_page?(root_path) && !current_page?("/rooms/#{params[:id]}")%>
<nav class="navbar-default">
  <ul class="navbar-nav">
    <li <% if current_page?(dashboard_path) %>class="active" <%end%> ><%= link_to "Dashboard", dashboard_path %></li>
    <li <% if current_page?(rooms_path) %>class="active" <%end%>><%= link_to "Manage Listings", rooms_path %></li>
</ul>
</nav>
<% end %>
