<div class="panel panel-default">
  <div class="panel-heading">
    List your beautiful place for rent
  </div>
  <div class="panel-body">
    <div class="container">
      <div class="text-danger"><h3>Please fill in all fileds</h3></div>
      <%= form_for @room do |f|%>
        <div class="row">
          <div class="col-12 col-md-4 select">
            <div class="form-group">
              <label for="">Home Type</label>
              <%= f.select :home_type, [['Apartment', 'Apartment'], ["House", "House"], ["Bed & Breakfast", "Bed & Breakfast"]],
                  id: 'home_type', prompt: "Select...", class: 'form-control', required: true %>
            </div>
          </div>
          <div class="col-12 col-md-4 select">
            <div class="form-group">
              <label for="">Room Type</label>
              <%= f.select :room_type, [['Entire', 'Entire'], ["Private", "Private"], ["Shared", "Shared"]],
                  id: 'room_type', prompt: "Select...", class: 'form-control', required: true%>
            </div>
          </div>

          <div class="col-12 col-md-4 select">
            <div class="form-group">
              <label for="">Accommodate</label>
              <%= f.select :accommodate, [['1', 1], ["2", 2], ["3", 3], ["4+", 4]],
                  id: 'accommodate', prompt: "Select...", class: 'form-control', required: true%>
            </div>
          </div>

          <div class="col-12 col-md-4 select">
            <div class="form-group">
              <label for="">Bedrooms</label>
              <%= f.select :bed_room, [['1', 1], ["2", 2], ["3", 3], ["4+", 4]],
                  id: 'bed_room', prompt: "Select...", class: 'form-control', required: true%>
            </div>
          </div>

          <div class="col-12 col-md-4 select">
            <div class="form-group">
              <label for="">Bathrooms</label>
              <%= f.select :bath_room, [['1', 1], ["2", 2], ["3", 3], ["4+", 4]],
                  id: 'bath_room', prompt: "Select...", class: 'form-control', required: true%>
            </div>
          </div>
        </div>
        <div><%= f.submit "Create A Room", class: 'btn btn-warning' %></div>
      <% end %>
    </div>
  </div>
</div>
