<div class="row">
  <div class="col-md-3 col-12">
    <%= render 'room_menu'%>
  </div>
  <div class="col-md-9 col-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Photos
      </div>
      <div class="panel-body">
        <div class="container mt-3">
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <!-- photos upload goes here -->
              <%= form_for @room, url: room_photos_path(@room), method: 'post', html: {multipart: true} do |f|%>
              <div class="row mt-3 col-md-10 col-12">
                <div class="form-group">
                  <span class="btn btn-outline-secondary btn-file text-center"><i class="fas fa-images"></i>
                    Select Photos
                    <%= file_field_tag "images[]", type: :file, multiple: true %>
                  </span>
                </div>
              </div>
              <div class="text-center">
                <%= f.submit "Add Photos", class: 'btn-babu'%>
              </div>
              <% end %>
            </div>
          </div>
          <div id="photos"><%= render 'photos/photos_list' %></div>
        </div>
      </div>
    </div>
  </div>
</div>
