<!DOCTYPE html>
<html>
  <head>
    <title>RailsAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/raty/2.8.0/jquery.raty.min.css' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.8.0/jquery.raty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js"></script>
  </head>
  <%= render 'shared/navbar' %>
  <%= render 'shared/noty'%>

  <body>
    <%= yield %>
  </body>


</html>
